<div class="row">
	<div class="col-sm-12">
		<form class="form-inline">
			<div class="form-group">
				<label for="itemsPerPage">Items per page</label>
				<select class="form-control" ng-model="$parent.itemsPerPage"  style="width: auto" ng-options="number for number in [3,6,9,12,15]">
				</select>
			</div> 
		</form>							
	</div>
</div>
<p></p>
<div class="row">
	<div class="col-sm-12">
		<label for="sort">Sort</label>
		<br>
		<div class="text-center">
		<div class="btn-group">
        	<label class="btn btn-primary" ng-model="$parent.searchModel" uib-btn-radio="'memberSince'">Date</label>
        	<label class="btn btn-primary" ng-model="$parent.searchModel" uib-btn-radio="'name'">Username</label>
    	</div>

    	<md-switch ng-model="$parent.reverse" class="md-primary" aria-label="Order: ">
    		Order: <span class="text-primary">{{reverse ? "Descending" : "Ascending"}}</span>
    	</md-switch>			
		</div>

	</div>
</div>