<div class="row">
	<div class="col-sm-12">
		<form class="form-inline">
			<div class="form-group">
				<label for="itemsPerPage">Items per page</label>
				<select class="form-control" ng-model="$parent.itemsPerPage"  style="width: auto" ng-options="number for number in [3,6,9,12,15]">
				</select>
			</div> 
		</form>							
	</div>
</div>
<p></p>
<div class="row">
	<div class="col-sm-12">
		<form>
			<div class="form-group">
				<label for="bpmFilter">BPM</label>
				<input  class="form-control"
						id="filteredBPM"
						name="filteredBPM"
						ng-model="$parent.selectedBPM"
						type="number"
						uib-typeahead="bpm for bpm in bpmArray | filter:$viewValue | limitTo:3"
						typeahead-on-select="$parent.filteredBPM = $parent.selectedBPM; $parent.selectedBPM = undefined;" >
			</div>
		</form>									
	</div>
</div>
<div class="row">
    <div class="col-sm-12">
        <ul class="list-group">
            <li class="list-group-item" ng-show="filteredBPM===0 || filteredBPM">
                {{filteredBPM}}
				<button type="button" class="btn btn-danger btn-xs pull-right" ng-click="removeBPM();">
                    <span class='glyphicon glyphicon-remove'></span>
                </button>
            </li>
        </ul>
    </div>
</div>   


<div class="row">
	<div class="col-sm-12">
		<form>
			<div class="form-group">
				<label for="genreFilter">Genres</label>
				<input  class="form-control"
						id="filteredGenres"
						name="filteredGenres"
						ng-model="selectedGenre"
						type="text"
						uib-typeahead="genre for genre in genresArray | filter:$viewValue | limitTo:3"
						typeahead-on-select="$parent.selectedGenre = selectedGenre; selectedGenre=''" >
			</div>
		</form>							
	</div>
</div>
<div class="row">
    <div class="col-sm-12">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="genre in $parent.filteredGenres">
                {{genre}}
                <button type="button" class="btn btn-danger btn-xs pull-right" ng-click="removeGenre(genre)">
                    <span class='glyphicon glyphicon-remove'></span>
                </button>
            </li>
        </ul>
    </div>
</div>   
<div class="row">
	<div class="col-sm-12">
		<form>
			<div class="form-group">
				<label for="scaleFilter">Scales</label>
				<input  class="form-control"
						id="filteredScales"
						name="filteredScales"
						ng-model="selectedScale"
						type="text"
						uib-typeahead="scale for scale in scalesArray | filter:$viewValue | limitTo:3"
						typeahead-on-select="$parent.selectedScale = selectedScale; selectedScale=''" >
			</div>			
		</form>							
	</div>
</div>					
<div class="row">
    <div class="col-sm-12">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="scale in filteredScales">
                {{scale}}
                <button type="button" class="btn btn-danger btn-xs pull-right" ng-click="removeScale(scale); $parent.isOpen=true">
                    <span class='glyphicon glyphicon-remove'></span>
                </button>
            </li>
        </ul>
    </div>
</div>   

<div class="row">
	<div class="col-sm-12">
		<label for="sort">Sort</label>
		<br>
		<div class="text-center">
		<div class="btn-group">
        	<label class="btn btn-primary" ng-model="$parent.searchModel" uib-btn-radio="'sampleInfo.uploadDate'">Date</label>
        	<label class="btn btn-primary" ng-model="$parent.searchModel" uib-btn-radio="'sampleInfo.metadata.definedname'">Title</label>
    	</div>

    	<md-switch ng-model="$parent.reverse" class="md-primary" aria-label="Order: ">
    		Order: <span class="text-primary">{{reverse ? "Descending" : "Ascending"}}</span>
    	</md-switch>			
		</div>

	</div>
</div>

