<navigation></navigation>

<div class="container">
  
  <h1>Welcome</h1>

  <p ng-hide="isLoggedIn">
  	Please 
  	<a href="" ng-click="openLoginModal()">
  		login
  	</a>
  	or 
  	<a href="" ng-click="openRegisterModal()">
  		register
  	</a> 
  	to use all functionality of this page
  </p>
</div>