<div class="container-fullwidth">
    <nav class="navbar navbar-default navbar-static-top" style="border-radius: 0px; margin-bottom:0px">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><span style="color: white;">sample</span><span style="color:darkorange">DB</span></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="samples">Samples</a></li>
            <li><a href="requests">Requests</a></li>
            <li><a href="users">Users</a></li>
            <li><a href='' ng-click="openAboutModal(); $rootScope.isPopoverOpen=false">About</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li ng-hide="isLoggedIn"><a href='' ng-click="openLoginModal(); $rootScope.isPopoverOpen=false">Login</a></li>
            <li ng-hide="isLoggedIn"><a href='' ng-click="openRegisterModal(); $rootScope.isPopoverOpen=false">Register</a></li>
            <li ng-show="isLoggedIn"><a href="profile">{{ currentUser.name }}</a></li>
            <li ng-show="isLoggedIn"><a href="" ng-click="logout()">Logout</a></li>                
          </ul>
        </div>
      </div>
    </nav>     
    <div class="jumbotron" style="margin-top:0px;">
      <div class="container">
          <h1><span style="color: white;">sample</span><span style="color:darkorange">DB</span></h1>
          <p><span style="color:white">Find the best audio samples here!</span></p>
      </div>
  </div> 
</div>


