<navigation></navigation>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-primary">
        <div class="panel-heading" id="profile-panel">
          <div class="row">
            <div class="col-sm-4">
              <img ng-src="{{user.gravatarUrl}}" />          
              <h3 style="color:white">{{user.name}}</h3>
              <h5 style="color:white">{{user.email}}</h5>
              <h5 style="color:white">Member since: {{user.memberSince | date}}</h5>
            </div>
          </div>      
        </div>
        <div class="panel-body">
          <uib-tabset>
            <uib-tab index="0" heading="{{tabs[0].heading}}" active="tabs[0].active">
              <div ng-include="tabs[0].template"></div>
            </uib-tab>
            <uib-tab index="1" heading="{{tabs[1].heading}}" active="tabs[1].active">
              <div ng-include="tabs[1].template"></div>
            </uib-tab>  
            <uib-tab index="2" heading="{{tabs[2].heading}}" active="tabs[2].active">
              <div ng-include="tabs[2].template"></div>
            </uib-tab>          
          </uib-tabset>
        </div>        
      </div>
    </div>
  </div>
</div>