<navigation></navigation>
<div class="container">
	<div class="row">
		<div class="col-md-12">	
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="thumbnail">
						<div class="panel panel-default" id="requests-panel">
							<div class="panel-heading">
								<div class="row">
									<div class="col-sm-12">
										<img ng-src="{{request.requestedBy.gravatarUrl}}" />
										<h3 style="color:white">{{request.requestedBy.name}}</h3>
									</div>
									<div class="col-sm-12">
										<div class="text-right">
											<a ng-href="/users/{{request.requestedBy._id}}" class="btn btn-danger" role="button">View user</a>
										</div>
									</div>					
								</div>					
							</div>
						</div>
				      
					    <div class="caption">


							<div class="row requestInfo">
								<div class="col-sm-12">
									<p style="word-wrap:break-word">
										<label>
											Description: 
										</label> 
										{{request.description}}
									</p>									
								</div>							
								<div class="col-sm-12">
									<div class="row"> 
										<div class="col-sm-4">
											<div class="row">
												<div class="col-sm-12">
													<label>BPM: </label> 
												</div>
												<div class="col-sm-12">
													{{request.bpm}}
												</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="row">
												<div class="col-sm-12">
													<label>Genres: </label>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-12">
												    <span ng-repeat="genre in request.genres">
														{{genre}} 
														<br>
												    </span> 											
												</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="row">
												<div class="col-sm-12">
													<label>Scales: </label>	
												</div>
											</div>
										    <div class="row">
										    	<div class="col-sm-12">
												    <span ng-repeat="scale in request.scales">
														{{scale}}
														<br>
												    </span>												
										    	</div>
										    </div>						
										</div>
									</div>			
								</div>
								<div class="col-sm-12">
									<p></p>
								</div>
								<div class="col-sm-12">
									<p>
										<label>
											Upload date: 
										</label> 
										{{request.uploadDate | date}}
									</p>			
								</div>									
							</div>
					        <div class="row">
					        	<div class="col-sm-12">			        
						    		<button class="btn btn-danger pull-left" ng-click="removeRequest(request._id)" ng-show="request.requestedBy._id==currentUserId" style="width:49%">
						    			Delete
						    		</button>	
						    		<button class="btn btn-success pull-right" style="width:49%" ng-click="respondToRequest(request)">
						    			Respond
						    		</button>						
					        	</div>
					        </div>
					    </div>
				    </div>				
				</div>					
			</div>
		</div>	
	</div>
</div>