<navigation></navigation>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			
			<button class="btn btn-primary" ng-click="openPostRequestModal(); $rootScope.isPopoverOpen=false">
				<span class="glyphicon glyphicon-plus-sign"></span> New request
			</button>						
			<button uib-popover-template="dynamicPopover.templateUrl" popover-placement="auto bottom-left" popover-title="Search tools" type="button" class="btn btn-primary" popover-is-open="$rootScope.isPopoverOpen">
				<span class="glyphicon glyphicon-search"></span> Search tools
			</button>
		</div>
	</div>
	<p></p>
	<div class="row">
		<div class="col-sm-12">
			<uib-pagination total-items="totalItems"
							ng-model = "currentPage"
							max-size = "maxSize"
							class = "pagination-md"
							boundary-links = "true"
							items-per-page = "itemsPerPage"
							>
			</uib-pagination>				
		</div>
	</div>
	<p></p>

	<div class="row">
		<div class="col-md-12">	
			<div masonry preserve-order>
				<div class="masonry-brick col-md-4" ng-repeat="request in requests">
					<div class="thumbnail">
						<div class="panel panel-default" id="requests-panel">
							<div class="panel-heading">
								<div class="row">
									<div class="col-sm-12">
										<img ng-src="{{request.requestedBy.gravatarUrl}}" />
										<h3 style="color:white">{{request.requestedBy.name}}</h3>
									</div>
									<div class="col-sm-12">
										<div class="text-right">
											<a ng-href="/users/{{request.requestedBy._id}}" class="btn btn-danger" role="button">View user</a>
										</div>
									</div>					
								</div>					
							</div>
						</div>
				      
					    <div class="caption">


							<div class="row requestInfo">
								<div class="col-sm-12">
									<p style="word-wrap:break-word">
										<label>
											Description: 
										</label> 
										{{request.description}}
									</p>									
								</div>							
								<div class="col-sm-12">
									<div class="row"> 
										<div class="col-sm-4">
											<div class="row">
												<div class="col-sm-12">
													<label>BPM: </label> 
												</div>
												<div class="col-sm-12">
												    <button class="btn btn-info btn-xs" ng-click="setFilteredBPM(request.bpm)">
												    	{{request.bpm}}
												    </button>										
												</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="row">
												<div class="col-sm-12">
													<label>Genres: </label>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-12">
												    <span ng-repeat="genre in request.genres">
														<button class="btn btn-info btn-xs" ng-click="setFilteredGenre(genre)">
															{{genre}}
														</button>							    		
												    </span> 											
												</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="row">
												<div class="col-sm-12">
													<label>Scales: </label>	
												</div>
											</div>
										    <div class="row">
										    	<div class="col-sm-12">
												    <span ng-repeat="scale in request.scales">
														<button class="btn btn-info btn-xs" ng-click="setFilteredScale(scale)">
															{{scale}}
														</button>							    		
												    </span>												
										    	</div>
										    </div>						
										</div>
									</div>			
								</div>
								<div class="col-sm-12">
									<p></p>
								</div>
								<div class="col-sm-12">
									<p>
										<label>
											Upload date: 
										</label> 
										{{request.uploadDate | date}}
									</p>			
								</div>									
							</div>
					        <div class="row">
					        	<div class="col-sm-12">			        
						    		<button class="btn btn-danger pull-right btn-sm" ng-click="removeRequest(request._id); $rootScope.isPopoverOpen=false" ng-show="request.requestedBy._id==currentUserId">
						    			Delete
						    		</button>	
						    		<p class="pull-right" style="padding:2px"></p>
						    		<button class="btn btn-success pull-right btn-sm" ng-click="respondToRequest(request); $rootScope.isPopoverOpen=false">
						    			Respond
						    		</button>
						    		<p class="pull-right" style="padding:2px"></p>
						    		<a href="/requests/{{request._id}}" class="btn btn-success pull-right btn-sm">
						    			View Single
						    		</a>						
					        	</div>
					        </div>
					    </div>
				    </div>				
				</div>					
			</div>
		</div>	
	</div>
	<div class="row">
		<div class="col-sm-12">
			<uib-pagination total-items="totalItems"
							ng-model = "currentPage"
							max-size = "maxSize"
							class = "pagination-md"
							boundary-links = "true"
							items-per-page = "itemsPerPage"
							ng-click="gotoTop()"
							>
			</uib-pagination>				
		</div>
	</div>
	<p></p>


</div>



