<navigation></navigation>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			
			<button class="btn btn-primary" ng-click="openUploadSampleModal(); $rootScope.isPopoverOpen=false">
				<span class="glyphicon glyphicon-plus-sign"></span> New sample
			</button>						
			<button uib-popover-template="dynamicPopover.templateUrl" popover-placement="auto bottom-left" popover-title="Search tools" type="button" class="btn btn-primary" popover-is-open="$rootScope.isPopoverOpen">
				<span class="glyphicon glyphicon-search"></span> Search tools
			</button>
		</div>
	</div>
	<p></p>
	<div class="row">
		<div class="col-sm-12">
			<uib-pagination total-items="totalItems"
							ng-model = "currentPage"
							max-size = "maxSize"
							class = "pagination-md"
							boundary-links = "true"
							items-per-page = "itemsPerPage"
							>
			</uib-pagination>				
		</div>
	</div>
	<p></p>

	<div class="row">
		<div class="col-sm-12">
			<div masonry preserve-order>
				<div ng-repeat="sample in samples" class="masonry-brick col-md-4">
					<div class="thumbnail">
						<div class="panel panel-primary" id="samples-panel">
							<div class="panel-heading">
								<div class="row">
									<div class="col-sm-12">
										<img ng-src="{{sample.uploadedBy.gravatarUrl}}">
										<h3>{{sample.uploadedBy.name}}</h3>
									</div>
									<div class="col-sm-12">
										<div class="text-right">
											<a href="/users/{{sample.uploadedBy._id}}" class="btn btn-danger" role="button">View user</a>
										</div>
									</div>
								</div>
							</div>
						</div>							
						<div class="caption">
							<div class="row">
								<div class="col-sm-12">
									<audio ng-src="{{sample.sampleStreamUrl}}" controls preload="none"></audio>	
								</div>
								
							</div>
							<p></p>
							<div class="row sampleInfo">
								<div class="col-sm-12">
									<p>
										<label>
											Name: 
										</label> 
										{{sample.sampleInfo.metadata.definedname}}
									</p>		    
								</div>
								<div class="col-sm-12">
									<p style="word-wrap:break-word">
										<label>
											Description: 
										</label> 
										{{sample.sampleInfo.metadata.description}}
									</p>									
								</div>							
								<div class="col-sm-12">
									<div class="row"> 
										<div class="col-sm-4">
											<div class="row">
												<div class="col-sm-12">
													<label>BPM: </label> 
												</div>
												<div class="col-sm-12">
												    <button class="btn btn-info btn-xs" ng-click="setFilteredBPM(sample.sampleInfo.metadata.bpm)">
												    	{{sample.sampleInfo.metadata.bpm}}
												    </button>										
												</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="row">
												<div class="col-sm-12">
													<label>Genres: </label>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-12">
												    <span ng-repeat="genre in sample.sampleInfo.metadata.genres">
														<button class="btn btn-info btn-xs" ng-click="setFilteredGenre(genre)">
															{{genre}}
														</button>							    		
												    </span> 											
												</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="row">
												<div class="col-sm-12">
													<label>Scales: </label>	
												</div>
											</div>
										    <div class="row">
										    	<div class="col-sm-12">
												    <span ng-repeat="scale in sample.sampleInfo.metadata.scales">
														<button class="btn btn-info btn-xs" ng-click="setFilteredScale(scale)">
															{{scale}}
														</button>							    		
												    </span>												
										    	</div>
										    </div>						
										</div>
									</div>			
								</div>
								<div class="col-sm-12">
									<p></p>
								</div>
								<div class="col-sm-12">
									<p>
										<label>
											Upload date: 
										</label> 
										{{sample.sampleInfo.uploadDate | date}}
									</p>			
								</div>									
							</div>
						    <div class="row">
						    	<div class="col-sm-12">
						    		<button class="btn btn-danger btn-sm pull-right" ng-click="removeSample(sample.sampleInfo._id); $rootScope.isPopoverOpen=false" ng-show="sample.uploadedBy._id==currentUserId">
						    			Delete
						    		</button>	
						    		<p class="pull-right" style="padding:2px"></p>
						    		<button ng-hide="currentUserId" class="btn btn-success pull-right btn-sm" ng-click="showWarning()">
						    			<span class="glyphicon glyphicon-download"></span> Download
						    		</button>						
									<a ng-show="currentUserId" class="btn btn-success pull-right btn-sm" target="_self" href="{{sample.sampleDownloadUrl}}" download="{{sample.sampleInfo.filename}}">
										<span class="glyphicon glyphicon-download"></span> Download
									</a>
									<p class="pull-right" style="padding:2px"></p>
									<a href="/samples/{{sample._id}}" class="btn btn-success pull-right btn-sm ">View single</a>
						    	</div>
						  	</div>
						</div>
					</div>	      
				</div>					
			</div>		
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<uib-pagination total-items="totalItems"
							ng-model = "currentPage"
							max-size = "maxSize"
							class = "pagination-md"
							boundary-links = "true"
							items-per-page = "itemsPerPage"
							ng-click="gotoTop()"
							>
			</uib-pagination>				
		</div>
	</div>
	<p></p>
</div>

