<navigation></navigation>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="thumbnail">
						<div class="panel panel-primary" id="samples-panel">
							<div class="panel-heading">
								<div class="row">
									<div class="col-sm-12">
										<img ng-src="{{sample.uploadedBy.gravatarUrl}}">
										<h3>{{sample.uploadedBy.name}}</h3>
									</div>
									<div class="col-sm-12">
										<div class="text-right">
											<a href="/users/{{sample.uploadedBy._id}}" class="btn btn-danger" role="button">View user</a>
										</div>
									</div>
								</div>
							</div>
						</div>							
						<div class="caption">
							<div class="row">
								<div class="col-sm-12">
									<audio ng-src="{{sample.sampleStreamUrl}}" controls preload="none"></audio>	
								</div>
								
							</div>
							<p></p>
							<div class="row sampleInfo">
								<div class="col-sm-12">
									<p>
										<label>
											Name: 
										</label> 
										{{sample.sampleInfo.metadata.definedname}}
									</p>		    
								</div>
								<div class="col-sm-12">
									<p style="word-wrap:break-word">
										<label>
											Description: 
										</label> 
										{{sample.sampleInfo.metadata.description}}
									</p>									
								</div>							
								<div class="col-sm-12">
									<div class="row"> 
										<div class="col-sm-4">
											<div class="row">
												<div class="col-sm-12">
													<label>BPM: </label> 
												</div>
												<div class="col-sm-12">
													{{sample.sampleInfo.metadata.bpm}}				
												</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="row">
												<div class="col-sm-12">
													<label>Genres: </label>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-12">
												    <span ng-repeat="genre in sample.sampleInfo.metadata.genres">
														{{genre}}
														<br>
												    </span> 											
												</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="row">
												<div class="col-sm-12">
													<label>Scales: </label>	
												</div>
											</div>
										    <div class="row">
										    	<div class="col-sm-12">
												    <span ng-repeat="scale in sample.sampleInfo.metadata.scales">
														{{scale}}
														<br>
												    </span>												
										    	</div>
										    </div>						
										</div>
									</div>			
								</div>
								<div class="col-sm-12">
									<p></p>
								</div>
								<div class="col-sm-12">
									<p>
										<label>
											Upload date: 
										</label> 
										{{sample.sampleInfo.uploadDate | date}}
									</p>			
								</div>									
							</div>
						    <div class="row">
						    	<div class="col-sm-12">
						    		<button class="btn btn-danger pull-left" ng-click="removeSample(sample.sampleInfo._id)" ng-show="sample.uploadedBy._id==currentUserId" style="width:49%">
						    			Delete
						    		</button>							
									<a class="btn btn-success pull-right" target="_self" href="{{sample.sampleDownloadUrl}}" download="{{sample.sampleInfo.filename}}" style="width:49%">
										<span class="glyphicon glyphicon-download"></span> Download
									</a>

						    	</div>
						  	</div>
						</div>
					</div>	      
				</div>					
			</div>					
		</div>
	</div>
</div>


