<navigation></navigation>

<div class="container">
	<div class="row">
		<div class="col-sm-12">				
			<button uib-popover-template="dynamicPopover.templateUrl" popover-placement="auto bottom-left" popover-title="Search tools" type="button" class="btn btn-primary" popover-is-open="$rootScope.isPopoverOpen">
				<span class="glyphicon glyphicon-search"></span> Search tools
			</button>
		</div>
	</div>
	<p></p>
	<div class="row">
		<div class="col-sm-12">
			<uib-pagination total-items="totalItems"
							ng-model = "currentPage"
							max-size = "maxSize"
							class = "pagination-md"
							boundary-links = "true"
							items-per-page = "itemsPerPage"
							>
			</uib-pagination>				
		</div>
	</div>
	<p></p>
	<div class="row">
		<div class="col-sm-12">
			<div masonry preserve-order>
				<div class="masonry-brick col-md-4" ng-repeat="user in users">
					<div class="thumbnail">
						<div class="panel panel-primary" id="users-panel" style="margin-bottom:0">
							<div class="panel-heading">
								<div class="row">
									<div class="col-sm-12">
										<img ng-src="{{user.gravatarUrl}}">
										<h3>{{user.name}}</h3>
										<h5 style="color:white">{{user.email}}</h5>
			             				<h5 style="color:white">Member since: {{user.memberSince | date}}</h5>
									</div>
									<div class="col-sm-12">
										<div class="text-right">
											<a href="/users/{{user._id}}" class="btn btn-danger" role="button">View user</a>
										</div>
									</div>
								</div>
							</div>
						</div>					
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<uib-pagination total-items="totalItems"
							ng-model = "currentPage"
							max-size = "maxSize"
							class = "pagination-md"
							boundary-links = "true"
							items-per-page = "itemsPerPage"
							ng-click="gotoTop()"
							>
			</uib-pagination>				
		</div>
	</div>
	<p></p>

</div>
