html, body {
  font-family: 'Prompt', sans-serif;
  min-height: 100%;
  background-color: #2b3e50;
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}


.jumbotron {
    position: relative;
    background: #000 url("../img/jumbo.jpg") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}


@media(max-width:991px){
  .masonry-brick {
    width: 100%;
  }  
}


#requests-panel{
  border-color: rgb(60,60,60);
}

#requests-panel .panel-heading{
  background: rgb(60,60,60) url("../img/ableton.png") center center;
  border-color: rgb(60,60,60);  
}

#users-panel {
  border-color: black;
}
#users-panel .panel-heading{
  background: rgb(60,60,60) url("../img/user.jpg") center center;
  border-color: rgb(60,60,60);  
}

#samples-panel{
  border-color: black;
}

#samples-panel .panel-heading{
  background: black url("../img/green.jpg") center center; 
  border-color: black;
}


#profile-panel{
  background: #000 url("../img/launchpad.jpg") center center;
}

#footer {
   	position:fixed;
   	left:0px;
   	bottom:0px;
   	height:30px;
   	line-height: 30px;
   	width:100%;
   	background:black;
   	color: white;
}

audio {
  width: 100%;
}


.pagination {
margin: 0px !important;
}

.modal {
  z-index: 9999 !important;
}

.list-group-item {
  border-color: white;
}

.thumbnail {
  background: white;
}

.sampleInfo, .requestInfo {
  color: #2b3e50;
}

a {
  color: deepskyblue;
}

.dropdown-menu {
  background: white;
}

.messageInfo {
  background: white;
  color: #2b3e50;
}

.panel-heading {
  border-radius: 0px;
}

.panel-primary > .panel-heading {
  background: deepskyblue;
}

.dropdown-menu {
  background: lightgray;
}

.dropdown-menu .ng-binding {
  color: #2b3e50;
}