<div class="modal-header">
    <h1 class="panel-title text-center">
        <span style="color: white;">sample</span><span style="color:darkorange">DB</span>
    </h1>   
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <ul class="list" style="color: white; line-height: 20px; font-size:16px">
                <li>sampleDB is an audio sample database</li>
                <li>Implemented with MEAN (<a href="https://www.mongodb.com/">MongoDB</a>, <a href="https://expressjs.com/">Express</a>, <a href="https://angularjs.org/">AngularJS</a>, <a href="https://nodejs.org/en/">Node.js</a>) stack</li>
                <li>Version: 1.0.0</li>
                <li>Author: Jurica Maltar, 2016.</li>
            </ul>                           
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">
        Ok
    </button>    
</div>