<div class="modal-header">
    <h1 class="panel-title text-center">
        <span class="glyphicon glyphicon-user"></span> Change username
    </h1>   
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <form name="changeNameForm">
                <div class="form-group">
                  <label for="username">New username</label>
                  <input type="text" class="form-control" id="username" placeholder="Username" ng-model="newName" required>
                </div>          
            </form>                             
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">
        Cancel
    </button>
    <button class="btn btn-primary" ng-click="changeUsername()" ng-disabled="changeNameForm.$invalid">
        Post
    </button>
    
</div>