<div class="modal-header">
    <h1 class="panel-title text-center">
        <span class="glyphicon glyphicon-envelope"></span> Change email
    </h1>   
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <form name="changeEmailForm">
                <div class="form-group">
                    <label for="email">New email</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email" ng-model="newEmail" unique-email required>
                    <span class="errorMessage" ng-show="changeEmailForm.email.$dirty && changeEmailForm.email.$error.unique" style="color: red">
                      <strong>Email already in use</strong>
                    </span>                  
                </div>       
            </form>                             
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">
        Cancel
    </button>
    <button class="btn btn-primary" ng-click="changeEmail()" ng-disabled="changeEmailForm.$invalid">
        Post
    </button>
    
</div>