<div class="modal-header">
    <h1 class="panel-title text-center">
        <span class="glyphicon glyphicon-lock"></span> Change password
    </h1>   
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <form name="changePasswordForm">
                <div class="form-group">
                  <label for="password">New password</label>
                  <input type="password" class="form-control" id="password" placeholder="Password" ng-model="newPassword" required>
                </div>          
            </form>                             
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">
        Cancel
    </button>
    <button class="btn btn-primary" ng-click="changePassword()" ng-disabled="changePasswordForm.$invalid">
        Post
    </button>
    
</div>