<div class="modal-header">
    <h1 class="panel-title text-center">
        <span class="glyphicon glyphicon-user"></span> Login
    </h1>   
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <form name="loginForm">
              <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="credentials.email" required>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" ng-model="credentials.password" required>
              </div>
            </form>                           
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">
        Cancel
    </button>
    <button class="btn btn-primary" ng-click="onSubmit()" ng-disabled="loginForm.$invalid">
        Login
    </button>
</div>