<div class="modal-header">
    <h1 class="panel-title text-center">
        <span class="glyphicon glyphicon-music"></span> Post new request
    </h1>   
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <form name="postRequestForm">
                <div class="form-group">
                  <label for="bpm">Beats per minute (BPM)</label>
                  <input type="number" class="form-control" id="bpm" placeholder="Beats per minute" ng-model="newRequest.bpm" min=0 max=200>
                </div>
                <div class="form-group">
                    <label for="scales">Scales</label>  
                    <input id="scales" name="scales" ng-model="selectedScale" placeholder="Scales" type="text" uib-typeahead="scale for scale in scalesArray | filter:$viewValue | limitTo:3" typeahead-on-select="appendScale($item)" class="form-control">  
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="scale in newRequest.scales">
                                {{scale}}
                                <button type="button" class="btn btn-danger btn-xs pull-right" ng-click="removeScale(scale)">
                                    <span class='glyphicon glyphicon-remove'></span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>   
                <div class="form-group">
                    <label for="genres">Genres</label>  
                    <input id="genres" name="genres" ng-model="selectedGenre" placeholder="Genres" type="text" uib-typeahead="genre for genre in genresArray | filter:$viewValue | limitTo:3" typeahead-on-select="appendGenre($item)" class="form-control">  
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="genre in newRequest.genres">
                                {{genre}}
                                <button type="button" class="btn btn-danger btn-xs pull-right" ng-click="removeGenre(genre)">
                                    <span class='glyphicon glyphicon-remove'></span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>        
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control"
                              ng-model="newRequest.description" 
                              name="description" 
                              id="description"                    
                              rows="3" 
                              placeholder="Put a description"
                              required 
                              >
                    </textarea>             
                </div>
            </form>                             
        </div>
    </div>
    
</div>

<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">
        Cancel
    </button>
    <button class="btn btn-primary" ng-click="submit()" ng-disabled="postRequestForm.$invalid">
        Upload
    </button>
    
</div>