<div class="modal-header">
    <h1 class="panel-title text-center">
        <span class="glyphicon glyphicon-user"></span> Register
    </h1>   
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <form name="registerForm">
              <div class="form-group">
                <label for="name">User name</label>
                <input type="text" class="form-control" id="name" placeholder="Enter your username" ng-model="credentials.name" required>
              </div>
              <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" ng-model="credentials.email" unique-email required>
                <span class="errorMessage" ng-show="registerForm.email.$dirty && registerForm.email.$error.unique" style="color: red">
                  <strong>Email already in use</strong>
                </span>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" ng-model="credentials.password" required>
              </div>
            </form>                         
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">
        Cancel
    </button>
    <button class="btn btn-primary" ng-click="onSubmit()" ng-disabled="registerForm.$invalid">
        Register
    </button>
</div>