<div class="modal-header">
    <h1 class="panel-title text-center">
        <span class="glyphicon glyphicon-music"></span> Upload audio sample
    </h1>   
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <form name="sampleUploadForm">
                <div class="form-group">
                  <label for="bpm">Name</label>
                  <input type="text" class="form-control" id="name" placeholder="Sample name" ng-model="sampleInfo.definedname" required>
                </div>          
            
                <div class="form-group">
                  <label for="bpm">Beats per minute (BPM)</label>
                  <input type="number" class="form-control" id="bpm" placeholder="Beats per minute" ng-model="sampleInfo.bpm" min=0 max=200>
                </div>
                <div class="form-group">
                    <label for="scales">Scales</label>  
                    <input id="scales" name="scales" ng-model="selectedScale" placeholder="Scales" type="text" uib-typeahead="scale for scale in scalesArray | filter:$viewValue | limitTo:3" typeahead-on-select="appendScale($item)" class="form-control">  
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="scale in sampleInfo.scales">
                                {{scale}}
                                <button type="button" class="btn btn-danger btn-xs pull-right" ng-click="removeScale(scale)">
                                    <span class='glyphicon glyphicon-remove'></span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>   
                <div class="form-group">
                    <label for="genres">Genres</label>  
                    <input id="genres" name="genres" ng-model="selectedGenre" placeholder="Genres" type="text" uib-typeahead="genre for genre in genresArray | filter:$viewValue | limitTo:3" typeahead-on-select="appendGenre($item)" class="form-control">  
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="genre in sampleInfo.genres">
                                {{genre}}
                                <button type="button" class="btn btn-danger btn-xs pull-right" ng-click="removeGenre(genre)">
                                    <span class='glyphicon glyphicon-remove'></span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>        
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control"
                              ng-model="sampleInfo.description" 
                              name="description" 
                              id="description"                    
                              rows="3" 
                              placeholder="Put a description" 
                              >
                    </textarea>             
                </div>
                <div class="form group">
                    <div class="row">
                        <div class="col-sm-3">
                            <button class="btn btn-primary" 
                                    ngf-select 
                                    ng-model="file" 
                                    name="file" 
                                    ngf-pattern="'audio/*'"
                                    ngf-accept="'audio/*'" >
                                    Select a file
                            </button>                           
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="filename" placeholder="{{file.name}}" readonly>
                        </div>  
                    </div>
                    <p style="padding:2px"></p>
                    <div class="row">
                        <div class="col-sm-12">
                            <audio controls ngf-src="file" style="padding-top:2px; padding-bottom:5px; width:100%"></audio>
                        </div>
                    </div>                  
                </div>
                <div class="form group" style="padding-top:3px">
                    <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:{{progressPercentageString}}">
                            {{progressPercentageString}}
                        </div>
                    </div>
                </div>
            </form>                             
        </div>
    </div>
    
</div>

<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">
        Cancel
    </button>
    <button class="btn btn-primary" ng-click="submit()" ng-disabled="sampleUploadForm.$invalid || !(file) || disableUploadButton">
        Upload
    </button>
    
</div>