<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <uib-accordion close-others="true">
      <div class="row">
        <div class="col-sm-12" ng-show="messagesLength()==0">
          <h4 class="text-info">
            No messages
          </h4>
        </div>
        <div class="col-sm-12" ng-repeat="message in messages | orderBy:'messageDate':messagesReverse">
          <p></p>
          <div uib-accordion-group class="{{messageClass(message.seen)}}  messageInfo">
            <uib-accordion-heading style="border-radius:0px">
              <img ng-src="{{message.from.gravatarUrl}}" width="40">
              {{message.from.name}} on {{message.messageDate | date}}
            </uib-accordion-heading>
            <div class="row">
              <div class="col-sm-12">
                User 
                <strong>
                  <a href="/users/{{message.from._id}}">
                    {{message.from.name}}
                  </a>
                </strong> 
                responded to your request
                <strong>
                  <a href="/requests/{{message.request}}">
                    {{message.request}}
                  </a>
                </strong> 
                with sample 
                <strong>
                  <a href="/samples/{{message.sample}}">{{message.sample}}
                  </a>
                </strong>                                                
              </div>
              <div class="col-sm-12">
                <button class="btn btn-danger pull-right" ng-click="removeMessage(message._id)">
                  Delete
                </button>
                <p class="pull-right" style="padding:2px"></p>
                <button class="btn btn-info pull-right" ng-hide="message.seen == true" ng-click="setSeen(message)">
                  I've got it
                </button>
              </div>
            </div>         
          </div>                            
        </div>
      </div>
    </uib-accordion>                   
  </div>
</div>