<div class="row">
  <div class="col-sm-12">
    <h2>
      Inbox             
    </h2>
    <md-switch ng-model="messagesReverse" class="md-primary" aria-label="Order: ">
      Date: <span>{{messagesReverse ? "Newest first" : "Oldest first"}}</span>
    </md-switch>                                
    <uib-tabset>
      <uib-tab index="3" heading="{{tabs[3].heading}}" active="tabs[3].active">
        <div ng-include="tabs[3].template"></div>
      </uib-tab>
      <uib-tab index="4" heading="{{tabs[4].heading}}" active="tabs[4].active">
        <div ng-include="tabs[4].template"></div>
      </uib-tab>
    </uib-tabset>                
  </div>
</div>