<div class="row">
  <div class="col-sm-12">
    <h2>
      Posts             
    </h2>
    <uib-tabset>
      <uib-tab index="5" heading="{{tabs[5].heading}}" active="tabs[5].active">
        <div ng-include="tabs[5].template"></div>
      </uib-tab>
      <uib-tab index="6" heading="{{tabs[6].heading}}" active="tabs[6].active">
        <div ng-include="tabs[6].template"></div>
      </uib-tab>
    </uib-tabset>                
  </div>
</div>