<div class="row">
	<div class="col-sm-12">
		<h2>
		  Preferences             
		</h2>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="row">
					<div class="col-md-6">
						<span>Change username</span>
						<button class="btn btn-warning pull-right" ng-click="openChangeNameModal()">
							Change
						</button>
					</div>
				</div>
				<p></p>
				<div class="row">
					<div class="col-md-6">
						<span>Change email</span>
						<button class="btn btn-warning pull-right" ng-click="openChangeEmailModal()">
							Change
						</button>
					</div>				
				</div>
				<p></p>
				<div class="row">
					<div class="col-md-6">
						<span>Change password</span>
						<button class="btn btn-warning pull-right" ng-click="openChangePasswordModal()">
							Change
						</button>
					</div>				
				</div>			
			</div>	
		</div>       
	</div>
</div>