<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="row">
      <div class="col-sm-12" ng-show="{{requestsByUser}}.length==0">
        <h4 class="text-info">No requests from {{user.name}}</h4>
      </div>
    </div> 
    <p></p>
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div ng-repeat="request in requestsByUser" ng-class="col-sm-12">
            <div class="panel panel-primary" id="requests-panel">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="row">
                      <div class="col-sm-12">
                        <p style="word-wrap:break-word">
                          <label>
                            Description: 
                          </label> 
                          {{request.description}}
                        </p>                  
                      </div>              
                      <div class="col-sm-12">
                        <div class="row"> 
                          <div class="col-sm-4">
                            <div class="row">
                              <div class="col-sm-12">
                                <label>BPM: </label> 
                              </div>
                              <div class="col-sm-12">
                                    {{request.bpm}}                 
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="row">
                              <div class="col-sm-12">
                                <label>Genres: </label>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-sm-12">
                                  {{request.genres.join(', ')}}                    
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="row">
                              <div class="col-sm-12">
                                <label>Scales: </label> 
                              </div>
                            </div>
                              <div class="row">
                                <div class="col-sm-12">
                                  {{request.scales.join(', ')}}                     
                                </div>
                              </div>            
                          </div>
                        </div>      
                      </div>
                      <div class="col-sm-12">
                        <p></p>
                      </div>
                      <div class="col-sm-12">
                        <p>
                          <label>
                            Upload date: 
                          </label> 
                          {{request.uploadDate | date}}
                        </p>      
                      </div>                  
                    </div>
                      <div class="row">
                        <div class="col-sm-12">           
                          <button class="btn btn-danger pull-right" ng-click="removeRequest(request._id)" ng-show="request.requestedBy==currentUserId">
                            Delete
                          </button> 
                          <p class="pull-right" style="padding:2px"></p>
                          <button class="btn btn-success pull-right" ng-click="respondToRequest(request)" ng-hide="request.requestedBy==currentUserId">
                            Respond
                          </button>
                          <p class="pull-right" style="padding:2px"></p>
                          <a href="/requests/{{request._id}}" class="btn btn-info pull-right">
                            View Single
                          </a>                  
                      </div>
                    </div>      
                  </div>        
                </div>
              </div>
            </div>  
          </div>
        </div>   
      </div>
    </div>                   
  </div>
</div>