<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="row">
      <div class="col-sm-12" ng-show="{{samplesByUser}}.length==0">
        <h4 class="text-info">No samples from {{user.name}}</h4>
      </div>
    </div>  
    <p></p>
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div ng-repeat="sample in samplesByUser track by sample._id" ng-class="col-sm-12">
            <div class="panel panel-primary" id="samples-panel">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-sm-12">
                    <audio ng-src="{{sample.sampleStreamUrl}}" controls="controls" preload="none"></audio>  
                  </div>
                </div>
                <p></p>
                <div class="row">
                  <div class="col-sm-12">
                    <p>
                      <label>
                        Name: 
                      </label> 
                      {{sample.sampleInfo.metadata.definedname}}
                    </p>        
                  </div>
                  <div class="col-sm-12">
                    <p style="word-wrap:break-word">
                      <label>
                        Description: 
                      </label> 
                      {{sample.sampleInfo.metadata.description}}
                    </p>                  
                  </div>              
                  <div class="col-sm-12">
                    <div class="row"> 
                      <div class="col-sm-4">
                        <div class="row">
                          <div class="col-sm-12">
                            <label>BPM: </label> 
                          </div>
                          <div class="col-sm-12">
                              {{sample.sampleInfo.metadata.bpm}}
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="row">
                          <div class="col-sm-12">
                            <label>Genres: </label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12">
                              {{sample.sampleInfo.metadata.genres.join(', ')}}                     
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="row">
                          <div class="col-sm-12">
                            <label>Scales: </label> 
                          </div>
                        </div>
                          <div class="row">
                            <div class="col-sm-12">
                              {{sample.sampleInfo.metadata.scales.join(", ")}}                     
                            </div>
                          </div>            
                      </div>
                    </div>      
                  </div>
                  <div class="col-sm-12">
                    <p></p>
                  </div>
                  <div class="col-sm-12">
                    <p>
                      <label>
                        Upload date: 
                      </label> 
                      {{sample.sampleInfo.uploadDate | date}}
                    </p>      
                  </div>                  
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <button class="btn btn-danger pull-right" ng-click="removeSample(sample.sampleInfo._id)" ng-show="sample.uploadedBy==currentUserId">
                      Delete
                    </button> 
                    <p class="pull-right" style="padding:2px"></p>            
                    <a class="btn btn-success pull-right" target="_self" href="{{sample.sampleDownloadUrl}}" download="{{sample.sampleInfo.filename}}">
                      <span class="glyphicon glyphicon-download"></span> Download
                    </a>
                    <p class="pull-right" style="padding:2px"></p>
                    <a href="/samples/{{sample._id}}" class="btn btn-info pull-right">View single</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>                      
      </div>
    </div>              
  </div>
</div>